<turbo-frame id="experience-data">
	<%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>
	<h2>Contact</h2>

	<%= link_to "https://github.com/nishkarshh013", target:"_blank" do%>
		<%= image_tag "github.svg", class:"link-address" %>
	<% end %>

	<%= link_to "https://in.linkedin.com/in/nishkarsh-sahu-b54ba8193", target:"_blank" do%>
		<%= image_tag "linkedin.svg", class:"link-address" %>
	<% end %>
</turbo-frame>